streamlit
databricks-sql-connector
reportlab


# ── CONFIG ────────────────────────────────────────────────────────────────────
DATABRICKS_TOKEN = 'dapi2d1bfa01955d210cbacd7a3ea6251cb8-3'
SERVER_HOSTNAME  = 'adb-4835006895446257.17.azuredatabricks.net'
HTTP_PATH        = '/sql/1.0/warehouses/2256e5e639791174'
TABLE_NAME       = "hive_metastore.labor_rates.unified_labor_rates"